<div class="popup">
    <div class="update-user">
        <form action="/v1/users/update" method="POST">
            <input id="id" name="id" type="hidden" value="<%= id %>">
            <input type="text" name="fullName" placeholder="Full Name">
            <button>Sign in</button>
        </form>
    </div>
</div>